.general-information--section {
    display: flex; 
    background-color: red; 
    flex-direction: column; 
}

.general-information--section .header {
    display: flex; 
}

.general-information--section input {
    border-radius: 3px;  
    border: none; 
    padding: 4px; 
    font-size: 25px; 
    outline: none; 
}

.general-information--section label {
    font-size: 1.2em; 
    font-weight: 500; 
}
