
.default-button {
    width: 105px; 
    margin-top: 25px;  
    margin-left: auto; 
    display: flex; 
    padding: 10px; 
    border-radius: 25px; 
    border: none; 
    color: #fff;
    justify-content: space-evenly; 
    align-items: center;
    cursor: pointer; 
    font-weight: 600;
    font-size: 1em; 
    letter-spacing: 1px;
}

.default-button:focus {
    outline: none; 
}

.save-button--disabled {
    background: var(--disabled-button-color); 
    opacity: 0.5; 
}

.save-button--enabled {
    background: var(--main-color); 
    opacity: 1; 
}

.download-button {
    width: 150px; 
    margin: 0; 
}

.edit-button {
    background: var(--save-button-color); 
    transition: 0.2s; 
}

.edit-button:hover {
    filter: brightness(60%); 
}

.clear-button {
    background: var(--clear-button-color); 
    color: rgb(0, 0, 0); 
    margin-left: 0; 
}